# Dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# Build output
dist/
.astro/

# Environment files
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# System files
.DS_Store

# Editor folders
.idea/
.vscode/
