---
import BaseHead from "@components/BaseHead.astro";
---

<html>
  <BaseHead title="Boilerplate Test" />
  <body>
    <h1>YY Astro-Sanity Boilerplate</h1>
    <p>If you can see this page, the boilerplate is working correctly.</p>
  </body>
</html>
