---
import BaseLayout from "./BaseLayout.astro";
const { title } = Astro.props;
---

<BaseLayout
  gtmId={import.meta.env.PUBLIC_GTM_ID}
  head={{ title }}
>

  <h1 class="text-3xl font-semibold">{title}</h1>
  <div class="mt-6">
    <slot />
  </div>
</BaseLayout>
